.venv
.DS_Store
.vscode
*.egg-info
dist
folly-source-*
*.so
build
!insertions/build
__pycache__
.pytest_cache
.version

folly/**/*.h
folly/**/*.cpp
folly/**/*.py
folly/**/*.pyi
folly/**/*.pxd
folly/**/*.pyx
!folly/python/test/__init__.py
!folly/python/test/setup.py